 body{
    color: #0614b3;
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding-top: 2.5em;
    background-color: #0614b3;
 }

 .container{
    display: flex;
    justify-content: center;
 }

 .centered{
    margin-top: 70px;
    text-align: center;
    width: 800px;
    background-color: rgb(217, 204, 236);
    border-radius: 20px;
    box-shadow: 0px 0px 16px 2px rgb(2, 2, 56);
 }

 h1{
    color: #0614b3;
    font-weight: 300;
    font-size: 2.626em;
    line-height: 1.1;
    margin-top: 30px;
 }

 h2{
    color: #0614b3;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: "Helvetica Neue", sans-serif;
 }

 p{
    margin: .8em 0;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1,5;
 }

 .btn--default{
    padding: 10px 20px;
    border: 0;
    border-radius: 0.5em;
    color: white;
    text-transform: uppercase;
    font-size: 0.875;
    font-weight: 400;
    transition: opacity 0.3s;
    background-color: #8c52ff;
    margin: auto;
    cursor: pointer;
 }

 .btn--default:hover{
    /*opacity: 0.75;*/
    background-color: #0614b3;
 }

 .btn--default:active{
    opacity: initial;
 }

 footer{
    border-top: 1px solid white;
    margin-top: 1.375em;
 }

 footer p{
    font-size: 1em;
    margin-top: 1.375em;
 }